@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .top-bar {
    @apply sticky top-0
    flex items-center
    w-full h-[75px] p-4
    bg-white
    border-b border-slate-200;
  }

  .input {
    @apply block w-full
    py-2 px-4
    outline-none border border-gray-300 rounded
    focus:border-blue-600 focus:ring-1 focus:ring-blue-600;
  }

  .input.error {
    @apply border-pink-500 focus:border-pink-500 focus:ring-pink-500;
  }

  .button {
    @apply flex
    justify-center
    px-4 py-2
    font-medium
    rounded-md;
  }

  .primary {
    @apply bg-blue-600 hover:bg-blue-700 text-white;
  }

  .danger {
    @apply bg-pink-600 hover:bg-pink-700 text-white;
  }

  .light {
    @apply bg-slate-50 hover:bg-slate-100 text-black;
  }

  .badge {
    @apply bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded;
  }
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drawer-container {
  width: 288px;
  height: 100%;
  overflow-y: auto;
  background-color: white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.drawer-container-enter {
  transform: translateX(-100%);
}

.drawer-container-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

.drawer-container-exit {
  transform: translateX(0%);
}

.drawer-container-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.modal-container {
  position: fixed;
  margin: 16px;
  background-color: white;
  border-radius: 12px;
}

.bottom-modal-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.bottom-modal-container-enter {
  transform: translateY(100%);
}

.bottom-modal-container-enter-active {
  transform: translateY(0%);
  transition: transform 300ms ease-in-out;
}

.bottom-modal-container-exit {
  transform: translateY(0%);
}

.bottom-modal-container-exit-active {
  transform: translateY(100%);
  transition: transform 300ms ease-in-out;
}
